ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
}

li {
    float: left;
    border-right:1px solid #2a2a5a;
    background-color: #1a1a1a;
}

li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #2a2a5a;
}

.my_navbar_container {
    background-color: #1a1a1a;
}